version: '3.4'

services:
  servicestore.api.author:
    image: ${DOCKER_REGISTRY-}servicestoreapiauthor
    build:
      context: .
      dockerfile: ServiceStore.Api.Author/Dockerfile
  servicestore.api.book:
    image: ${DOCKER_REGISTRY-}servicestoreapibook
    build:
      context: .
      dockerfile: ServiceStore.Api.Book/Dockerfile

networks:
  default:
    external:
      name: microservicenet

