version: '3.4'

services:
  servicestore.api.author:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "6104:80"

  servicestore.api.book:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "6105:80"


  servicestore.api.shop:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - Services__Books=http://servicestore.api.book
    ports:
      - "6106:80"

